<div class="contenedor">
    <div class="slider-contenedor">
        <section class="contenido-slider">
            <img src="assets/images/carrousel/foto01.jpg" id="photo1" alt="fotos Cris y Miguel">
        </section>
        <section class="contenido-slider">
            <img src="assets/images/carrousel/foto02.jpg" id="photo2" alt="fotos Cris y Miguel">
        </section>
        <section class="contenido-slider">
            <img src="assets/images/carrousel/foto03.png" id="photo3" alt="fotos Cris y Miguel">
        </section>
        <section class="contenido-slider">
            <img src="assets/images/carrousel/foto04.jpg" id="photo4" alt="fotos Cris y Miguel">
        </section>
        <section class="contenido-slider">
            <img src="assets/images/carrousel/foto05.jpg" id="photo5" alt="fotos Cris y Miguel">
        </section>
        <section class="contenido-slider">
            <img src="assets/images/carrousel/foto06.jpg" id="photo6" alt="fotos Cris y Miguel">
        </section>
        <section class="contenido-slider">
            <img src="assets/images/carrousel/foto07.jpg" id="photo7" alt="fotos Cris y Miguel">
        </section>
        <section class="contenido-slider">
            <img src="assets/images/carrousel/foto08.jpg" id="photo8" alt="fotos Cris y Miguel">
        </section>
        <section class="contenido-slider">
            <img src="assets/images/carrousel/foto09.png" id="photo9" alt="fotos Cris y Miguel">
        </section>
        <section class="contenido-slider">
            <img src="assets/images/carrousel/foto10.jpg" id="photo10" alt="fotos Cris y Miguel">
        </section>
    </div>
</div>









